<!DOCTYPE html>
<html>
  <head>
    <title>Meu Currículo</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
      }
      h1 {
        color: #333;
      }
      .section {
        margin-bottom: 20px;
      }
      .section h2 {
        color: #555;
      }
      .info {
        margin-left: 10px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Alberto da Rocha Miranda</h1>
      <p>Rua pedra no caminho 231 , Petrópolis, Rio de Janeiro</p>
      <p>Telefone: (25) 99948-7890</p>
      <p>Email: betinhotemumemailmuitolegal.gmail.com</p>
    </header>

    <section class="section">
      <h2>Resumo</h2>
      <p>
        O maior jogador de Lol de todo o Brasil se não contarmos todos os outros
        jogadores de Lol.
      </p>
    </section>

    <section class="section">
      <h2>Educação</h2>
      <p><strong>Inteli:</strong> Engenharia da computação, 2025</p>
    </section>

    <section class="section">
      <h2>Experiência Profissional</h2>
      <p><strong>Despi:</strong> Filho da minha mãe, 2002 até a atualidade</p>
      <p>Descrição das responsabilidades e conquistas: Nasci!.</p>
    </section>

    <section class="section">
      <h2>Habilidades</h2>
      <ul>
        <li>Profissional em roubar no truco</li>
        <li>Fazedor de Currículo na pressa</li>
        <li>Eu só quero que isso acabe</li>
      </ul>
    </section>

    <section class="section">
      <h2>Idiomas</h2>
      <p>Portugês</p>
      <p>Altas besteiras</p>
      <p>
        Humildemente eu sei que não é o melhor currículo do mundo mas a pelo que
        entendi do enunciado isso não impactaria a nota tenha uma
      </p>
      <h1>ótima noite Murílo/Nicola!</h1>
    </section>
  </body>
</html>
